html{
  display: block;
}

.main-nav {
  width: 100%;
  background: rgb(75, 149, 173);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}

div {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #c8d7e7;
}

.nav {
  max-width: 1200px;
  padding: 0 30px;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: rgb(167, 167, 167);
}

.nav .title {
  display: block;
  margin-right: auto;
  /* margin-left: auto; */
  color:#222;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

/* header {
  min-height: 470px;
} */

header {
  line-height: 1.5;
}

header {
  text-align: center;
  background: url('images/leviski.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}

header {
  display: block;
}

body main {
  text-align: left;
  margin:20px;
}

.center {
  text-align: center;
}

.topspace {
  margin-top: 250px;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

.socials li {
  border-radius: 0px;
  display: inline-block;
  background: none;
  margin:0px;
}

.socials li:nth-child(odd) {
  border-radius: 0px;
  display: inline-block;
  background: none;
  margin: -20px;
}

a.twitter {
  background-image: url(img/twitter.svg);
}
a.linkedin {
  background-image: url(img/linkedin.svg);
}
a.github {
  background-image: url(img/github.svg);
}
a.social:hover {
  opacity: 1;
}